mixin researchers(researchers)
    each item in researchers
        if item.active
            .item.grid-50.mobile-grid-100
                .author.grid-100.mobile-grid-100= item.name
                    span – #{ item.title }
                .quote.grid-100.mobile-grid-100
                    span.mark “
                    | !{ item.text }
                    span.mark.second ”
                .grid-100.mobile-grid-100.side-by-side
                    .text-ornament.child: .object
                    .read-more.down.brown.child= __('read_more')

mixin articles(articles)
    each item in articles
        li.grid-100.mobile-grid-100
            a(href=item.ficheiro target="_blank")= item.name


if about
    .apartment.grid-100.mobile-grid-100

        .background2
        
        .waypoint.grid-container(data-index="4")
            a(name="fernando-pessoa")

            .wrapper.grid-100.mobile-grid-100

                .picture.mobile-grid-100.hide-on-desktop.one
                    if about.images.length > 0
                        //- img(src=about.images[0].url)
                        //- include ./slider
                        // Slider main container
                        .swiper-container
                            // Additional required wrapper
                            .swiper-wrapper
                                // Slides
                                each item in about.images
                                    .swiper-slide
                                        //- img(src=item.url)
                                        img(src=filters.cloudinary(item))

                            // If we need pagination
                            .swiper-pagination
                            
                            .swiper-button-prev
                            .swiper-button-next

                .copy.grid-50.mobile-grid-100
                    .title.type3.grid-100.mobile-grid-100
                        span.ornament.black= about.name
                        
                    .body.type1.grid-100.mobile-grid-100!= about.text

                .picture.grid-50.hide-on-mobile.two
                    if about.images.length > 0
                        //- img(src=about.images[0].url)
                        //- include ./slider
                        // Slider main container
                        .swiper-container
                            // Additional required wrapper
                            .swiper-wrapper
                                // Slides
                                each item in about.images
                                    .swiper-slide
                                        //- img(src=item.url)
                                        img(src=filters.cloudinary(item))

                            // If we need pagination
                            .swiper-pagination
                            
                            .swiper-button-prev
                            .swiper-button-next

                .box.grid-100.mobile-grid-100
                    +researchers([about.researcher1, about.researcher2])

                .anchors.grid-100.mobile-grid-100
                    ul
                        +articles([ about.article1, about.article2 ])

        .waypoint.grid-container(data-index="9")
            a(name="manuscritos")

            .content-script.grid-100.mobile-grid-100
                img.background(src="/images/scripts-background.png").hide-on-mobile

                include ./flipbook

                .content.grid-50.mobile-grid-100.prefix-50.mobile-center
                    .title.type1.grid-100.mobile-grid-100: span.ornament.black= __('scripts_title')
                    .buttons.grid-100.mobile-grid-100
                        each item in manuscripts
                            button.button.type2(data-flipbook-target=item.name)=item.name
                        //- button.button.type2(data-flipbook-target="Diário Pessoal") Diário pessoal
                        //- button.button.type2(data-flipbook-target="Diários de Leitura") Diário de Leitura
                        //- button.button.type2(data-flipbook-target="Textos & Anotações") Alguns textos & anotações
                    .footnote.grid-100.mobile-grid-100
                        span= __('scripts_footnote')
        
    .separator