.waypoint.grid-100.mobile-grid-100(data-index="5")
    a(name="roteiros")

    .slogan.grid-100.mobile-grid-100

        .grid-container
            span.title.type1.grid-100.mobile-grid-100.fadein: span.ornament.gold= tour.title
            span.title.type2.grid-100.mobile-grid-100.fadein= tour.subTitle
            span.body.type1.grid-100.mobile-grid-100.fadein!= tour.text

    .tours.grid-100.mobile-grid-100
        .grid-container

            .note.grid-100.mobile-grid-100.fadein * importante fazer as marcações com antecedência

            .box.grid-100.hide-on-mobile
                each item in tourGuides
                    .item.grid-50.mobile-grid-100.fadein
                        .wrapper.mobile-grid-85
                            .title.grid-100.mobile-grid-100= item.name
                            .body.quote.grid-100.mobile-grid-100!= item.text
                            .read-more.down.gold.grid-100.mobile-grid-100 Ler mais
                            .flags.grid-100.mobile-grid-100
                                each item2 in item.idioms
                                    case item2.iso
                                        when 'en'
                                            .flag: img(src="/images/flag-uk.png")
                                        when 'pt'
                                            .flag: img(src="/images/flag-pt.png")
                                        when 'fr'
                                            .flag: img(src="/images/flag-fr.png")
                            .contacts.grid-100.mobile-grid-100
                                .body.grid-100.mobile-grid-100 Reservas
                                each item3 in contacts
                                    .element.grid-100.mobile-grid-100
                                        a.phone(href="tel:+351968733859") #{ item3.name }: #{ item3.phone }
                                        a.mail(href="mailto:"+item3.email)= item3.email
            
        .mobile-grid-100.hide-on-desktop
            include ./slider
    
    script.
        window.tourGuides = !{ JSON.stringify(tourGuides) || '' };